{% extends 'layout.html' %}

{% block main %}
<div class="row">
  <div class="col col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <h1>Register</h1>
    <hr>
    {% include 'shared/form.html' %}
  </div>
</div>
{% endblock %}
