{% extends 'layout.html' %}

{% block main %}
<div class="row">
  <div class="col">
    <h1>Hello World</h1>
    <hr>
    <p>
      {% if request.user.is_authenticated %}
        Welcome, {{ request.user.username }}
      {% else %}
        Click <a href="{% url 'login' %}">here</a> to login
      {% endif %}
    </p>
  </div>
</div>
{% endblock %}
