{% extends 'layout.html' %}

{% block main %}
<div class="row">
  <div class="col">
    <h1>#{{ candidate.pk }} {{ candidate.name}}</h1>
    <hr>
    <p>名字：{{ candidate.name }}</p>
    <p>年紀：{{ candidate.age }} 歲</p>
    <p>證件：{{ candidate.politics | linebreaks }}</p>

    {% if candidate.image %}
      <hr>
      <img src="{{ candidate.image.url }}" alt="{{ candidate.name }}">
    {% endif %}
  </div>
</div>
{% endblock %}
