{% load bootstrap4 %}

<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  {% bootstrap_form form %}

  {% buttons %}
  <button type="submit" class="btn btn-primary">
    送出
  </button>
  {% endbuttons %}
</form>
